<html>
    <head>
        <title>Akmaral's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Akmaral's blog</a></h1>
        </div>

        <div>
            <p>published: 31.10.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The purpose of our lives is to be happy.</p>
        </div>

        <div>
            <p>published: 31.10.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>In order to write about life first you must live it.</p>
        </div>
    </body>
</html>